<html>
  <header>
    <style>
      body {
        background-color: white;
        color: darkgrey;
        border-color: lightblue;
        margin: 0px;
        padding: 0px;
      }

      .main-container {
        display: flex;
        flex-direction: column;
        height: 100%
      }

      .top-panel {
        height: 50px;
        border-bottom: 1px solid;
      }

      .main-panel {
        flex: 1;
      }

      .bottom-panel {
        height: 50px;
        border-top: 1px solid;
      }
    </style>
  </header>
  <body>
    <div class="main-container">
      <div class="top-panel">
        Layout 2 - Top - Main - Bottom
      </div>
      <div class="main-panel">
        Main Panel
      </div>
      <div class="bottom-panel">
        Bottom Panel
      </div>
    </div>
  </body>
</html>